<md-dialog style="width: 400px;">
    <form ng-cloak name="heroForm">
        <md-toolbar md-colors="{background : 'blue'}">
            <div class="md-toolbar-tools">
                <h2>Edit Superhero</h2>
            </div>
        </md-toolbar>

        <md-dialog-actions layout="row" layout-align="center center">
            <md-button ng-click="cancel()" class="md-primary">Close</md-button>
            <md-button ng-click="save()" ng-disabled="heroForm.$invalid">Save</md-button>
        </md-dialog-actions>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column" flex>
                <md-input-container md-no-float>
                    <label>Name</label>
                    <input ng-model="superhero.Name" type="text" maxlength="30" md-maxLength="30" required />
                </md-input-container>

                <div class="rating-container">
                    <label>Rating</label>
                    <superhero-rating superhero="superhero" is-readonly="false"></superhero-rating>
                </div>

                <md-input-container>
                    <label>Description</label>
                    <textarea ng-model="superhero.Description" maxlength="150" md-maxLength="150" rows="5" />
                </md-input-container>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>